header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav a:hover {
    text-decoration: underline;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}